.nav-drop{
  width: 210px;
  margin-bottom: 25px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  color: rgb(44, 43, 43);
}
.nav-drop::after{
  border: 1px solid rgb(53, 51, 51);
  
}
.form-ck{
  margin-bottom: 25px !important;
  
}
.content{
  width: 100%;
  background-color: rgba(233, 235, 236, 0.932);
  
  
}
.m-5{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}